body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #e8f5e9;
}
.slider-container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: #e8f5e9;
    padding: 20px;
    border-radius: 10px;
}
.slide img {
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}
.slide-content {
    max-width: 500px;
    max-height: 1000px;
}
.tutorSlider{
    max-height: 1000px;
}